.header {
  width: 100%;
  background-color: #fff;
  margin-top: px2rem(64px);
  .header-top {
    position: fixed;
    width: 100%;
    display: flex;
    height: px2rem(40px);
    
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
    z-index: 4;
  }
}