.header {
  width: 100%;
  background-color: #fff;
  margin-top: px2rem(64px);
  .header-top {
    position: fixed;
    width: 100%;
    display: flex;
    height: px2rem(40px);
    
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
    z-index: 4;
  }

  .panel {
    position: absolute;
    z-index: 1;
    left: 0;
    top: px2rem(105px);
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    &.show {
        display: block;
    }
  }
}